mixin footer()
	+b.FOOTER.footer.section.block-with-lazy
		.container
			.row
				+e.col.col-xxl.col-xll-auto.col-xl-12.col-sm-6
					+e.logo(href="/")
						img(src="img/svg/logo.svg", alt="")
					.row
						.col-xll-12.col-xl
							+e.text.small.mb-5 SOLO Kleinmotoren GmbH&nbsp;&mdash; THE BETTER CHOICE. SINCE 1948. German quality sprayers and cut-off machines.
						.col-xll-12.col-xl
							+e.link(href="mailto:info@solo-germany.de") 
								+e.icon-wrap
									+icon('mail')
								| info@solo-germany.de
							br
							+e.link(href="tel:+49(0)7031-301-0") 
								+e.icon-wrap--tel
									+icon('tel')
								| +49 (0) 7031 - 301-0
						.col-xll-12.col-xl.mb-4
							+e.text.small.mb-2 Montag&nbsp;&mdash; Freitag: 9:00&nbsp;&mdash; 18:00 Uhr (ausgenommen regionale Feiertage)
							.small.text-secondary *Regul&auml;rer Festnetztarif Ihres Telefonanbieters.
				mixin list(t,...items)
					+e.col-nav.col-xl.col-sm-6
						+e.group
							+e.title= t
							ul
								each item in items
									li
										a(href="#")= item
				+list('Service & Beratung','Mein Benutzerkonto','Newsletter','Zahlarten','Sicher Einkaufen','Versand und Lieferung','Rückgabe & Umtausch','Häufige Fragen / FAQ','Kundeninformationen Österreich')

				+list('Über Solo','Ihre Vorteile bei SOLO','Firmenprofil','Händler-Links','SOLO Gutscheine','SOLO Kataloge','SOLO Produkttest','Karriere bei SOLO')
				
				+list('Informationen','AGB','Impressum','Datenschutz','Widerrufsrecht','Cookie-Einstellungen')
		+e.copy-line 
			.container
				img(src="img/svg/logo-white.svg", alt="", loading="lazy")
				strong © 2020 SOLO Kleinmotoren GmbH  
				| 
				span.text-secondary |  Design: VI-BRAND STUDIOS  |  Entwicklung: VI-ARISE Communikation
	+b.btn-top
		img(src="img/svg/arrow-up.svg", alt="")
	+b.cookies-block
		.container
			.row
				+e.col.col Diese Webseite verwendet Cookies, um eine bestmögliche Erfahrung bieten zu können. #[a(href="#") Mehr Informationen …]
				+e.btns.col-sm-auto
					+e.btn.btn-gray(href="#") Ablehnen
					+e.btn.btn-primary(href="#") Konfigurieren

mixin footerCart()
	+b.footerCart
		.container
			+e.row.row
				+footerCartItem('footersCart-1', 'Kostenloser Versand Deutschlandweit')
				+footerCartItem('vantage-item-4', 'Kostenlose Rückgabe Innerhalb von 30 Tagen')
				+footerCartItem('vantage-item-3', 'Sichere Bezahlmöglichkeit Verschlüsselte Übertragung')
				+footerCartItem()
					+e.pay-img(href="#")
						img(loading="lazy" src='img/@2x/pay-ways.png' alt="")
			+e.bot-links
				a(href="#") Download
				a(href="#") Händlersuche
				a(href="#") Support
				a(href="#") Kataloge
				a(href="#") FAQ
				a(href="#") Datenschutz

mixin footerCartItem(imgName, txt)
	+e.col.col-12.col-sm-6.col-xl-3
		if block
			block
		else
			+e.item
				+e.i-img
					img(loading="lazy" src=`img/svg/${imgName}.svg` alt="")
				+e.txt=txt