mixin sPrivacy(data)
	// start sPrivacy
	+b.SECTION.sPrivacy.section#sPrivacy&attributes(attributes)
		+e.container.container
			block
			+b.section-title
				h1 Datenschutz
			+e.date Stand: 24.11.20020
			+e.content
				p Wir messen dem Datenschutz große Bedeutung bei. Die Erhebung und Verarbeitung Ihrer personenbezogenen Daten geschieht unter Beachtung der geltenden datenschutzrechtlichen Vorschriften, insbesondere der EU-Datenschutzgrundverordnung (DSGVO). Wir erheben und verarbeiten Ihre personenbezogenen Daten, um Ihnen das oben genannten Portal anbieten zu können. Diese Erklärung beschreibt, wie und zu welchem Zweck Ihre Daten erfasst und genutzt werden und welche Wahlmöglichkeiten Sie im Zusammenhang mit persönlichen Daten haben.
				p Durch Ihre Verwendung dieser Website stimmen Sie der Erfassung, Nutzung und Übertragung Ihrer Daten gemäß dieser Datenschutzerklärung zu.
				br
				h4 1. Verantwortliche Stelle
				p
					| Verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten im Sinne der DSGVOist
				p
					strong SOLO Kleinmotoren GmbH
					br
					| Stuttgarter Strasse 41
					br
					| D-71069 Sindelfingen
				a(href="mailto:info@solo-germany.com") info@solo-germany.com
				br
				br
				p Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Maßgabe dieser Datenschutzbestimmungen insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch an oben genannte verantwortliche Stelle richten.
				p Sie können diese Datenschutzerklärung jederzeit speichern und ausdrucken.
				br
				p Bei weiteren Fragen rund um das Thema Datenschutz, wenden Sie sich bitte an unseren Datenschutzbeauftragten:
				|
				a.mb-4(href="mailto:datenschutzbeauftragter@datenschutzexperte.de") datenschutzbeauftragter@datenschutzexperte.de
				a.black.mb-6(href="www.datenschutzexperte.de" target="_blank") www.datenschutzexperte.de
				h4 2. Allgemeine Nutzung der Webseite
				br
				h6 2.1 Server Logfiles
				p Wenn Sie unsere Website aufrufen, ist es technisch notwendig, dass über Ihren Internetbrowser Daten an unseren Webserver übermittelt werden. Folgende Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver aufgezeichnet:
				p Datum und Uhrzeit der Anforderung
				p Name der angeforderten Datei
				p Seite, von der aus die Datei angefordert wurde
				p Zugriffsstatus
				p Verwendeter Webbrowser und verwendetes Betriebssystem
				p (Vollständige) IP-Adresse des anfordernden Rechners
				p Übertragene Datenmenge
				p Die aufgelisteten Daten erheben wir, um einen reibungslosen Verbindungsaufbau der Website zu gewährleisten und eine komfortable Nutzung unserer Website durch die Nutzer zu ermöglichen. Zudem dient die Logdatei der Auswertung der Systemsicherheit und -stabilität sowie administrativen Zwecken. Rechtsgrundlage für die vorübergehende Speicherung der Daten bzw. der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.
				p Aus Gründen der technischen Sicherheit, insbesondere zur Abwehr von Angriffsversuchen auf unseren Webserver, werden diese Daten von uns kurzzeitig gespeichert. Anhand dieser Daten ist uns ein Rückschluss auf einzelne Personen nicht möglich. Nach spätestens 7 Tage werden die Daten durch Verkürzung der IP-Adresse auf Domainebene anonymisiert, sodass es nicht mehr möglich ist, einen Bezug zum einzelnen Nutzer herzustellen.
				br
				h6 2.2 E-MAIL KONTAKT
				br
				p Wenn Sie mit uns in Kontakt treten (z. B. per Kontaktformular oder E-Mail), speichern wir Ihre Angaben zur Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen. Weitere personenbezogene Daten speichern und nutzen wir nur, wenn Sie dazu einwilligen oder dies ohne besondere Einwilligung gesetzlich zulässig ist.
				h6 2.3 RECHTSGRUNDLAGEN UND SPEICHERDAUER
				br
				p Rechtsgrundlage der Datenverarbeitung nach den vorstehenden Ziffern ist Art 6 Abs. 1 Buchstabe f) DSGVO. Unsere Interessen an der Datenverarbeitung sind insbesondere die Sicherstellung des Betriebs und der Sicherheit der Webseite, die Untersuchung der Art und Weise der Nutzung der Webseite durch Besucher, und die Vereinfachung der Nutzung der Webseite.
				p Sofern nicht spezifisch angegeben speichern wir personenbezogene Daten nur so lange, wie dies zur Erfüllung der verfolgten Zwecke notwendig ist.
				br
				br
				h4 3. Ihre rechte als von der Datenverarbeitung betroffener
				br
				p Nach den anwendbaren Gesetzen haben Sie verschiedene Rechte bezüglich ihrer personenbezogenen Daten. Möchten Sie diese Rechte geltend machen, so richten Sie Ihre Anfrage bitte per E-Mail oder per Post unter eindeutiger Identifizierung Ihrer Person an die in Ziffer 1 genannte Adresse.
				br
				p Nachfolgend finden Sie eine Übersicht über Ihre Rechte.
				br
				h6 3.1 RECHT AUF BESTÄTIGUNG UND AUSKUNFT
				p Sie haben jederzeit das Recht, von uns eine Bestätigung darüber zu erhalten, ob Sie betreffende personenbezogene Daten verarbeitet werden. Ist dies der Fall, so haben Sie das Recht, von uns eine unentgeltliche Auskunft über die zu Ihnen gespeicherten personenbezogenen Daten nebst einer Kopie dieser Daten zu erlangen. Desweiteren besteht ein Recht auf folgende Informationen:
				p die Verarbeitungszwecke;
				p die Kategorien personenbezogener Daten, die verarbeitet werden;
				p die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten offengelegt worden sind oder noch offengelegt werden, insbesondere bei Empfängern in Drittländern oder bei internationalen Organisationen;
				p falls möglich die geplante Dauer, für die die personenbezogenen Daten gespeichert werden, oder, falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer;
				p das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten oder auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;
				p das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
				p wenn die personenbezogenen Daten nicht bei Ihnenerhoben werden, alle verfügbaren Informationen über die Herkunft der Daten;
				p das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Artikel 22 Absätze 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für Sie.
				p Werden personenbezogene Daten an ein Drittland oder an eine internationale Organisation übermittelt, so haben Siedas Recht, über die geeigneten Garantien gemäß Artikel 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.
	// end sPrivacy