mixin sPFeedback(data)
	// start sPFeedback
	+b.SECTION.sPFeedback.section#sPFeedback&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Das sagen unsere Kunden
		+e.stab
			img(loading="lazy" src='img/@2x/feedback-stab.png' alt="")
	// end sPFeedback