
	// start .sIcons
	.sIcons {
		--sPT: #{rem(55)};
		--sPB: #{rem(24)};
		background-color: $light;
		.container{
			position: relative;
		}
		.container::before{
			content: '';
			@include a-cent(x);
			width: calc(100% - var(--bs-gutter-x));
			bottom: calc(-1 * var(--sPB));
			height: rem(4);
			background-color: #ffffff;
		}
		// margin-bottom: rem(4);
		// border-bottom: 4px solid #000;
		.row{
			// justify-content: space-between;
		}
		&__item{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(190);
			text-align: center;
			 color: #333;
			 margin-bottom: rem(30);
			  line-height: normal;
		}
		&__img-wrap{
			margin-left: auto;
			margin-right: auto;
			width: rem(70px);
			height: rem(70px);
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: rem(22);
			border: 2px solid  ;
			border-radius: 50%;
			padding: rem(10);
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		 &__wrap{
			 margin-left: auto;
			 margin-right: auto;
			 max-width: rem(1040);
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sIcons