// .pixel-perfect {
// 	//05
// 	top: -78px;

// 	display: block;
// 	@include a-cent(x); 
// 	pointer-events: none;
// 	z-index: 1000;
// 	overflow: hidden;
// 	width: 100%;
// 	height: 100%;
// 	background-position: center 0;
// 	opacity: 0;
// 	//opacity: 0.7;
// }
html{
	
	// overflow-x: hidden;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	overflow-y: auto;
	&.fixed{
		overflow: hidden;
	}
}
body,
html {
	
	font-size: var(--font-size-base);
	// @include font-size(1rem);
	// overflow-x: hidden;
}


body {  
	min-width: 320px;  

	@include mt(.1);
	position: relative; 
	
	&.loaded_hiding {
		
		opacity: 0;
		pointer-events: none;
		&::before{
			display: none;
		}
	}
	
	.loaded {
		transition: none;
		// @include mt(0);
		pointer-events: visible;
		opacity: 1;
	}
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		// height: 100%;
		@include mt(.1);
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}
	&.fancybox-active{
		overflow: hidden;

	}
	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;
		height: 100%;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}

	&.fixed2{
		@include media-breakpoint-down(xl){
			overflow: hidden;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 999;
			height: 100%;
		}
	}

}
// .main-wrapper { 
// 	// overflow-x: hidden;
// 	// overflow: scroll;
// 	// width: 100%; 
// 	  height: 100vh;
// 		height: calc(var(--vh, 1vh) * 100);
	 
	 
// }

.section {
	@include bgs; 
	padding-top: var(--pt);
	padding-bottom: var(--spb); 
}

.section-title { 
	padding-bottom: var(--stpb);
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--sm {
	@include roww(10)
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperarrowsize);
	height: var(--swiperarrowsize);
	border-radius: 50%;
	background-color: var(--swiperbgdef);
	border: 2px solid var(--swiperbordercolordef);
	color: var(--swipercolordef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1); 
	@include mt;

	&:hover {
		background-color: var(--swiperbgdefhover);
		border-color: var(--swiperbordercolordefhover);
		color: var(--swipercolordefhover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiper-arrow-position: -15px; 
	&-next {
		right: var(--swiper-arrow-position);
	}

	&-prev {
		left: var(--swiper-arrow-position);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture { 
	img {
		@extend .res-i;
	}

}
img.object-fit-js {
	height: 100%;
	width: 100%; 
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top; 
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: $primary;
	/* Цвет фона */
}

//accept ratio frame
.accept-ratio-frame{
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover{
		img{
			filter: brightness(80%);
			transform: scale(1.1);
		}
	}

	img{
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.accept-ratio-frame-nh{
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	background-color: $black;
	overflow: hidden;

	img{
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//swiper
.swiper-pugin-frame{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 0;

	.swiper-pagination-bullet{
		width: 8px;
		height: 8px;
		margin: 5px 12px!important;
		border-radius: 50%;
		background-color: darken($secondary, 4);
		opacity: 0.5;

		&-active{
			opacity: 1;
			background: $crimson;
		}
	}
}

//prev, next
.swiper-button-disabled{
	opacity: 0 !important;
}
.swiper-arrow-frame{
	box-shadow: none!important;
	outline: none!important;
	border: none!important;
	background-color: darken($gray, 1);
	z-index: 5;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 47px;

	@include mt();
	.icon{
		@include mt();
		font-size: 12px;
		color: darken($secondary, 3);
	}

	opacity: .85;
	&:hover{
		opacity: 1;
		.icon{
			transform: scale(1.1);
		}
	}
}

.swiper-arrow-frame-alt{
	box-shadow: none!important;
	outline: none!important;
	background-color: transparent;

	border: 2px solid $gray2!important;

	width: 29px;
	height: 29px;
	@include media-breakpoint-up(xll){
		width: 40px;
		height: 40px;
	}
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	z-index: 5;
	top: 50%;
	transform: translateY(-50%);

	@include mt();
	.icon{
		@include mt();
		font-size: 14px;
		@include media-breakpoint-up(xll){
			font-size: 19px;
		}
		color: darken($gray2, 3);
	}

	opacity: .85;
	&:hover{
		opacity: 1;
		.icon{
			transform: scale(1.1);
		}
	}
}
//select
.form-select{
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23333' d='M3.5 5L0 0h7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	&--red{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='5' viewBox='0 0 7 5'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23DB3232' d='M3.5 5L0 0h7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}

//.breadcrumb
.breadcrumb-wrap{
	margin: 10px 0 35px 0;
	@include media-breakpoint-up(md){
		margin: 15px 0 40px 0;
	}
	@include media-breakpoint-up(xll){
		margin: 8px 0 61px 0;
	}
	display: flex;
	align-items: center;
}
.breadcrumb-home{
	color: $secondary2;
	&:hover{
		color: $primary;
	}

	margin-right: 13px;
	.icon{
		font-size: 21px;
	}
}
.breadcrumb{
	background-color: $light;
	border-radius: 4px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 6px 10px;

	li{
		display: inline-flex;
		align-items: center;
		margin-right: 10px;

		&:after{
			content: '';
			display: inline-block;
			margin-left: 10px;
			width: 7px;
			height: 12px;

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.305' height='7.417' viewBox='0 0 4.305 7.417'%3E%3Cpath d='M.172,3.289a.58.58,0,0,0,0,.823L3.31,7.25a.582.582,0,0,0,.823-.823L1.423,3.7,4.133.99A.557.557,0,0,0,4.3.579.532.532,0,0,0,4.133.167a.59.59,0,0,0-.823,0Z' transform='translate(4.305 7.417) rotate(180)'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&:last-child{
			margin-right: 0;
			font-weight: 900;
			&:after{
				content: none;
			}
		}
		a{
			color: $secondary2;
			&:hover{
				color: $primary;
			}

			line-height: (18/13);
			font-size: 13px;
		}
	}
}

.btn-brown{
	&:hover,
	&:focus{
		background-color: $primary !important;
		border-color: $primary !important;

	}
	&:focus{
		box-shadow: 0 0 0 0.2rem rgba($color: $primary, $alpha: .5);
	}
}

.btn-white {
	&:hover{
		color: #fff;
		background-color: $brown;
		border-color: $brown;
	}
	&:focus{
		box-shadow: 0 0 0 0.2rem rgba($color: $brown, $alpha: .5);
	}
}
@include media-breakpoint-up(xl) {

	.column-menu{
		columns: 3;
		&__item{
			// display: inline-block;
			width: 100%;
			-webkit-column-break-inside: avoid;
			-moz-column-break-inside: avoid;
			break-inside: avoid;
		}
	}
}