:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(xll) {
	}
	--font-size-base: #{$em-base};
	// --font-size-base: 14px;
	@include media-breakpoint-up(md) {
		
		--pt: #{rem(63)};
		--spb: #{rem(67)};
		--stpb: #{rem(40)};
	}

	--pt: #{rem(80 / 2)};
	--spb: #{rem(90 / 2)};
	--stpb: #{rem(40 / 2)};


		--swiperarrowsize: #{rem(68)};
		--swiper-arrow-position: calc(-1 * var(--swiperarrowsize) / 2);
		--swiperbordercolordef: var(--bs-primary);
		--swipercolordef: var(--bs-primary);
		--swiperbgdef: #ffffff;
	
		--swiperbordercolordefhover: var(--bs-primary);
		--swipercolordefhover: var(--bs-primary);
		--swiperbgdefhover: #ffffff;

	--main-color: #{$blue};
}

.red-mainColor{
	--main-color: #{$danger};
}