// start .sCategory
.sCategory {
	//no actual here
	--stpb: 0;

	--pt: 20px;
	--spb: 40px;
	@include media-breakpoint-up(md){
		--pt: 20px;
		--spb: 45px;
	}
	@include media-breakpoint-up(xl){
		--pt: 25px;
		--spb: 50px;
	}
	@include media-breakpoint-up(xxl){
		--pt: 32px;//!!!
		--spb: 53px;
	}

	&__container{
		padding: 0 10px;
		@include media-breakpoint-up(xxl){
			padding: 0 12px;
		}
	}

	&__row{
		@include roww(20px);
	}
	&__col{
		&--left{

		}
		&--right{
			@include media-breakpoint-up(xxl){
				padding-top: 7px;
			}
		}
	}


	.section-title--top{
		& > *:last-child{
			margin-bottom: 0;
		}

		border-bottom: 1px solid $gray2;

		padding-bottom: 15px;
		margin-bottom: 15px;
		@include media-breakpoint-up(xll){
			padding-bottom: 17px;
			margin-bottom: 21px;
		}

		@include media-breakpoint-up(xl){
			padding-left: 17px;
		}

		h2{
			//border-bottom: 1px solid $gray2;
			//border-bottom: 1px solid red !important;

			font-size: 22px;
			//letter-spacing: .5px;
			@include media-breakpoint-up(md){
				font-size: 28px;
				//letter-spacing: .7px;
			}
			@include media-breakpoint-up(xl){
				font-size: 32px;
				//letter-spacing: 1px;
			}

			@include media-breakpoint-up(xxl){
				letter-spacing: .34px;
				font-size: 35px;
			}



			span{
				vertical-align: baseline;
			}

			.gray{
				letter-spacing: normal;
				font-size: 18px;
			}
		}
	}
	&__sort-txt{
		@include media-breakpoint-up(xl){
			padding-left: 25px;
		}

		margin-bottom: 13px;

		font-size: 14px;
		@include media-breakpoint-up(md){
			font-size: 15px;
			line-height: (25/15);
		}
		@include media-breakpoint-up(xl){
			font-size: 16px;
			line-height: (25/16);
		}
	}

	//
	.filters-row{
		padding-bottom: 30px;

		@include media-breakpoint-up(xxl){
			@include roww(13px);
			padding-left: 5px;
		}
	}
	//
	&__items-row{
		padding-bottom: 20px;
		@include media-breakpoint-up(xxl){
			padding-bottom: 60px;
		}
	}
	&__col{
		margin-bottom: 20px;
		@include media-breakpoint-up(xxl){
			margin-bottom: 37px;
		}
	}

	//fix
	.sUsage{
		&__txt{
			@include media-breakpoint-between(xl, xll){
				font-size: 16px;
			}
		}
	}

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sCategory

.cSidebar{
	&__box{
		margin-bottom: 26px;
		background-color: $gray4;

		padding-bottom: 20px;
	}

	&__back{
		@include mt();
		background-color: $light;
		color: $body-color;
		&:hover{
			color: $black;
			background-color: darken($light, 3);
		}

		padding: 15px 20px;
		@include media-breakpoint-up(xll){
			padding: 20px;
		}
		@include media-breakpoint-up(xxl){
			padding: 23px 26px;
		}

		display: flex;
		align-items: center;
		svg,
		.icon{
			color: $primary;
			font-size: 15px;
			margin-right: 10px;
		}

		font-weight: 900;

		font-size: 16px;
		line-height: (25/16);
		@include media-breakpoint-up(xll){
			font-size: 18px;
			line-height: (25/18);
		}
	}
	//1 lvl
	&__menu{
		list-style: none;

		padding: 0;
		@include media-breakpoint-up(xxl){
			padding: 7px 0 0 0;
		}
		margin: 0;
	}
	&__item{

	}
	&__title{
		text-transform: uppercase;
		display: block;

		padding: 10px 0 10px 45px;
		@include media-breakpoint-up(xxl){
			padding: 8px 0 8px 51px;
			letter-spacing: .5px;
		}

		position: relative;
		&:before{
			@include mt();
			content: '';
			position: absolute;
			top: calc(50% - 6px);

			left: 20px;
			@include media-breakpoint-up(xxl){
				left: 26px;
			}

			width: 12px;
			height: 12px;

			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-image: var(--chevron-right-red);
		}

		@include mt();
		color: $body-color;
		&:hover{
			color: $black;
		}

		font-weight: 900;

		font-size: 16px;
		line-height: (25/16);
		@include media-breakpoint-up(xll){
			font-size: 18px;
			line-height: (25/18);
		}

		&.active{
			//color: $danger;
			&:before{
				transform: rotate(-90deg);
			}
		}
	}
	&__submenu{
		display: none;
		&.active{
			display: block;
		}

		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__sub-item{

	}
	&__sub-item-link{
		display: block;

		padding: 10px 0 10px 50px;
		@include media-breakpoint-up(xll){
			padding: 10px 0 10px 80px;
		}
		@include media-breakpoint-up(xxl){
			padding: 12px 0 12px 94px;
		}
		position: relative;
		line-height: 18px;

		font-size: 13.5px;
		@include media-breakpoint-up(xll){
			font-size: 16px;
		}

		color: $body-color;
		--sb-item-left: 0px;
		--sb-itemopac: 0;
		--sblinktxtshdw: 0 0 0 rgba($color: #000000, $alpha: 1.0);
		&:hover{
			color: $blue;
			--sb-item-left: -10px;
			--sb-itemopac: 1;
			--sblinktxtshdw: 0 0 1px #{$blue};
		}
		&.active{
			color: $danger;
			--sblinktxtshdw: 0 0 1px #{$danger};
			--sb-itemopac: 0;
		}

		.txt{
			text-shadow: var(--sblinktxtshdw);
			color: currentColor;
			display: inline-block;
			//height: 18px;
			position: relative;

			&:after{
				@include mt();
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				top: calc(100% + 3px);
				background-color: currentColor;

				left: var(--sb-item-left);
				opacity: var(--sb-itemopac);
			}
		}
	}
	&__sb-icon{
		position: absolute;

		left: 20px;
		@include media-breakpoint-up(xll){
			left: 45px;
		}
		@include media-breakpoint-up(xxl){
			left: 51px;
		}
		top: 50%;
		transform: translateY(-50%);
		svg,
		img{
			max-width: 20px;
			width: auto;
			height: auto;
		}
	}
	&__txt{
		font-size: 13px;
		line-height: 1.65;
		max-width: 90%;

		color: $secondary2;

		p{
			margin-bottom: 22px;
		}
	}
	//
	&__{}
	&__{}
}