
	// start .sCategories
	.sCategories {
			@include media-breakpoint-up(xll){
				--sPT: #{rem(82)};
				--sPB: #{rem(47)};
			}
			--sPB: #{rem(24)};
			@include media-breakpoint-up(xl){
				--sPT: #{rem(24)};
			}
			--sPT: #{rem(54)};
		--sTPB: #{rem(22)};
		h2{
			font-size: 1rem;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: rem(0.56);
		} 
		li{
			display: inline-block;
			width: 100%;
				@include media-breakpoint-up(xll){
					font-size: 1rem;
					margin-bottom: em(14);
				}
				font-size: rem(14);
				margin-bottom: em(13);
			position: relative;
			padding-left: rem(15);
			&::before{
				content: url(../img/svg/chevron-right.svg);
				position: absolute;
				left: 0;
				top: rem(-2);
			}
		}
		a{
			@extend .text-body;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sCategories