mixin sPaymethod(data)
	// start sPaymethod
	+b.sPaymethod.section#sPaymethod&attributes(attributes)
		.container
			+e.row.row
				mixin item(t, i)
					+e.col.col-xl-auto.col-md-6
						+e.title!= t
						.row
							.col-auto
								+pic(`pay-${i}.png`,'',0)
							block
				+item(`ZAHLUNGSMÖGLICHKEITEN`,`1`)
				+item(`WIR VERSENDEN MIT`,`2`)
				+item(`GEPRÜFTER ONLINESHOP`,`3`)
					.col-auto
						+pic(`pay-4.png`,'',0)
	// end sPaymethod