// start .sProdNav
.sProdNav {
	--stpb: 0;
	--spb: 0px;

	--pt: 20px;

	&__container{
		padding: 0 10px;
		@include media-breakpoint-up(xxl){
			padding: 0 12px;
		}
	}

	//row
	&__row{
		@include roww(20px);
	}
	&__links-row{

	}
	&__l-col{
		@include media-breakpoint-up(md){
			padding-right: 25px;
		}
		@include media-breakpoint-up(xxl){
			padding-right: 34px;
		}

		a{
			@include mt();
			display: block;
			text-transform: uppercase;
			font-weight: 900;
			//font-weight: bold;


			color: $black;
			&:hover{
				color: $primary;
				border-color: currentColor;
			}

			border-bottom: 2px solid transparent;


			font-size: 14px;
			@include media-breakpoint-up(md){
				font-size: 15px;
				letter-spacing: .5px;
				line-height: (25/15);
			}
			@include media-breakpoint-up(xl){
				font-size: 16px;
				letter-spacing: .7px;
				line-height: (25/16);
			}

			padding: 15px 0;
			@include media-breakpoint-up(xll){
				font-size: 18px;
				padding: 16.5px 0;
				letter-spacing: .8px;
				line-height: (25/18);
			}
		}
	}
	&__baner{
		position: relative;
		z-index: 1;
	}
	&__banner-bg{
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: 100%;
		top: 0;
		left: calc(-1 * (100vw - 100%) / 2);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__b-row{
		@include roww(20px);

		padding: 40px 0;
		@include media-breakpoint-up(xl){
			padding: 51px 0 56px;
		}
	}
	&__white-bl{
		background-color: rgba($white, .9);

		padding: 35px 15px 25px;
		@include media-breakpoint-up(sm){
			padding: 40px 20px 30px;
		}
		@include media-breakpoint-up(xl){
			padding: 50px 25px 40px;
		}
		@include media-breakpoint-up(xxl){
			padding: 52px 25px 54px 33px;
		}
	}
	&__w-name{
		text-transform: uppercase;

		font-weight: 900;

		font-size: 14px;
		@include media-breakpoint-up(md){
			font-size: 15px;
			letter-spacing: .5px;
			line-height: (25/15);
		}
		@include media-breakpoint-up(xl){
			font-size: 16px;
			letter-spacing: .7px;
			line-height: (25/16);
		}
		margin-bottom: 10px;
		@include media-breakpoint-up(xll){
			margin-bottom: 13px;
			font-size: 18px;
			letter-spacing: .8px;
			line-height: (25/18);
		}
	}
	&__w-title{
		font-weight: 400;
		line-height: 1.2;

		font-size: 22px;
		margin-bottom: 25px;
		@include media-breakpoint-up(md){
			font-size: 28px;
			margin-bottom: 37px;
		}
		@include media-breakpoint-up(xl){
			font-size: 32px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 35px;
			margin-left: -3px;
		}
	}
	//
	&__balls{
		text-align: center;
		margin-bottom: 10px;

		@include media-breakpoint-up(xxl){
			padding-right: 17px;
			padding-left: 3px;
		}
	}
	&__ball-col{
		margin-bottom: 20px;
	}
	&__ball{
		width: 70px;
		height: 70px;
		margin: 0 auto 21px;
		border: 2px solid $black;
		border-radius: 50%;
		padding: 10px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__ball-descr{
		line-height: 1.2;
		color: $brown;

		font-size: 13px;
		@include media-breakpoint-up(md){
			font-size: 15px;
		}
		@include media-breakpoint-up(xl){
			font-size: 16px;
		}
	}
	//
	&__w-descr{
		color: $secondary2;

		font-size: 14px;
		@include media-breakpoint-up(md){
			font-size: 15px;
			line-height: (25/15);
		}
		@include media-breakpoint-up(xl){
			font-size: 16px;
			line-height: (25/16);
		}
		@include media-breakpoint-up(xll){
			font-size: 18px;
			line-height: (25/18);

			margin-left: -3px;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sProdNav