extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWmailAddress/_sWmailAddress.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sPaymethod/_sPaymethod.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sVantageLine/_sVantageLine.pug
include ../blocks/sUsage/_sUsage.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sClean/_sClean.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sSocMedia/_sSocMedia.pug
include ../blocks/sFolow/_sFolow.pug
include ../blocks/sMail/_sMail.pug
include ../blocks/sHSlider/_sHSlider.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	//-+mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+sHSlider()

	.custom-control.custom-checkbox
		input#ec86553a991f4064a92fc0b1ba0e1131.custom-control-input.filter-multi-select-checkbox(data-label='Pflanzenpflege' type='checkbox' value='ec86553a991f4064a92fc0b1ba0e1131')
		label.filter-multi-select-item-label.custom-control-label(for='ec86553a991f4064a92fc0b1ba0e1131')
			| Pflanzenpflege

	+sVantageLine()
	+sUsage()
	+sBalls()
	+sCatalog()
	+sClean()
	+sPromo({
		flagClass: "red"
	})
	+sNew()
	+sContact()
	+sNews()
	+sSocMedia()
	+sFolow()
	+sMail()
	+sWmailAddress
	+sIcons
	+sPaymethod
	+sCategories
	+footer()