extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWmailAddress/_sWmailAddress.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sPaymethod/_sPaymethod.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sVantageLine/_sVantageLine.pug
include ../blocks/sUsage/_sUsage.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sClean/_sClean.pug
include ../blocks/sPromo/_sPromo.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sSocMedia/_sSocMedia.pug
include ../blocks/sFolow/_sFolow.pug
include ../blocks/sMail/_sMail.pug
include ../blocks/sHSlider/_sHSlider.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	//-+mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+sHSlider()

	.custom-control.custom-checkbox
		input#ec86553a991f4064a92fc0b1ba0e1131.custom-control-input.filter-multi-select-checkbox(data-label='Pflanzenpflege' type='checkbox' value='ec86553a991f4064a92fc0b1ba0e1131')
		label.filter-multi-select-item-label.custom-control-label(for='ec86553a991f4064a92fc0b1ba0e1131')
			| Pflanzenpflege

	.unzer-payment-frame
	.card-title
		| Credit card (Unzer payments)
	.unzer-payment-credit-card-wrapper(data-unzer-payment-credit-card='true' data-unzer-payment-credit-card-options='{\
	"hasSavedCards": "1"\
	}')
		table.table.table-sm.table-bordered
			tbody
				tr
					th Marke
					th Nummer
					th Ablaufdatum
					th CVC
					th Secret
				tr
					td Mastercard
					td 5232050000010003
					td 12/30
					td 123
					td None
				tr
					td Visa
					td 4711100000000000
					td 12/30
					td 123
					td secret!33
				tr
					td Visa Electron
					td 4012888888881881
					td 12/30
					td 123
					td None
				tr
					td Visa
					td 4644400000308888
					td 12/30
					td 123
					td None
		.unzer-payment-saved-cards-wrapper
			.unzer-payment-saved-cards--message
				| Wählen Sie bitte eine gespeicherte Kreditkarte oder füllen Sie das Formular aus.
			.custom-control.custom-radio.payment-control
				input#card-0c71848f977242b6818f18950614b1ad.custom-control-input.payment-method-input(name='savedCreditCard' type='radio' value='p-crd-q4fqi3xwv9ls' checked='checked')
				label.custom-control-label.payment-method-label(for='card-0c71848f977242b6818f18950614b1ad')
					strong 524747******6555
				.payment-method-description
					p  (03/2023)
			.custom-control.custom-radio.payment-control
				input#card-381b85fb7a3a493e956a481a35b207c9.custom-control-input.payment-method-input(name='savedCreditCard' type='radio' value='p-crd-pielijfhurzq')
				label.custom-control-label.payment-method-label(for='card-381b85fb7a3a493e956a481a35b207c9')
					strong 510126******6101
				.payment-method-description
					p  (04/2021)
			.custom-control.custom-radio.payment-control
				input#card-4d166981fab641d4b34bc428c81cee51.custom-control-input.payment-method-input(name='savedCreditCard' type='radio' value='p-crd-pez5mjeekfsw')
				label.custom-control-label.payment-method-label(for='card-4d166981fab641d4b34bc428c81cee51')
					strong 510126******3658
				.payment-method-description
					p  (04/2021)
			.custom-control.custom-radio.payment-control
				input#card-c3d3f128eb0b46bb84afd0f490a6280e.custom-control-input.payment-method-input(name='savedCreditCard' type='radio' value='p-crd-ysm2pwxwtb1q')
				label.custom-control-label.payment-method-label(for='card-c3d3f128eb0b46bb84afd0f490a6280e')
					strong 444433******1111
				.payment-method-description
					p  (03/2023)
			.custom-control.custom-radio.payment-control
				input#card-new.custom-control-input.payment-method-input(name='savedCreditCard' type='radio' value='new')
				label.custom-control-label.payment-method-label(for='card-new')
					| Eine andere Kreditkarte verwenden
		.unzer-payment-credit-card-wrapper-elements(hidden='')
			.unzer-payment-frame-row
				label(for='unzer-payment-credit-card-number') Kreditkartennummer
				#unzer-payment-credit-card-number.unzer-payment-text-input.form-control
					img#unzer-payment-credit-card-icon(src='https://static.unzer.com/assets/images/common/group-5.svg' alt='')
					#unzer-payment-credit-card-number-input(tabindex='0')
						iframe#heidelpay-number-iframe-1617189146063.heidelpayUIIframe(name='__privateHeidelpayFrame--heidelpay-number-iframe-1617189146063' src='https://payment.heidelpay.com/v1/cardframe/number;jsessionid=2210A4C4BFCB14C4518820BC71C2CFCA?locale=ru-RU' frameborder='0' allowtransparency='true' scrolling='no' allowpaymentrequest='true')
				#unzer-payment-credit-card-number-error.unzer-payment-error(hidden='')
					.unzer-payment-error-message
			.unzer-payment-frame-row
				label(for='unzer-payment-credit-card-expiry') Ablaufdatum:
				#unzer-payment-credit-card-expiry.unzer-payment-text-input.form-control(tabindex='0')
					iframe#heidelpay-expiry-iframe-1617189146063.heidelpayUIIframe(name='__privateHeidelpayFrame--heidelpay-expiry-iframe-1617189146063' src='https://payment.heidelpay.com/v1/cardframe/expiry;jsessionid=2210A4C4BFCB14C4518820BC71C2CFCA?locale=ru-RU' frameborder='0' allowtransparency='true' scrolling='no' allowpaymentrequest='true')
				#unzer-payment-credit-card-expiry-error.unzer-payment-error(hidden='')
					.unzer-payment-error-message
			.unzer-payment-frame-row
				label(for='unzer-payment-credit-card-cvc') CVC:
				#unzer-payment-credit-card-cvc.unzer-payment-text-input.form-control(tabindex='0')
					iframe#heidelpay-cvc-iframe-1617189146063.heidelpayUIIframe(name='__privateHeidelpayFrame--heidelpay-cvc-iframe-1617189146063' src='https://payment.heidelpay.com/v1/cardframe/cvc;jsessionid=2210A4C4BFCB14C4518820BC71C2CFCA?locale=ru-RU' frameborder='0' allowtransparency='true' scrolling='no' allowpaymentrequest='true')
				#unzer-payment-credit-card-cvc-error.unzer-payment-error(hidden='')
					.unzer-error-message
	
	+sVantageLine()
	+sUsage()
	+sBalls()
	+sCatalog()
	+sClean()
	+sPromo({
		flagClass: "red"
	})
	+sNew()
	+sContact()
	+sNews()
	+sSocMedia()
	+sFolow()
	+sMail()
	+sWmailAddress
	+sIcons
	+sPaymethod
	+sCategories
	+footer()