// start .sCatalog
.sCatalog {
	--theme-color: #{$primary};
	&--blue{
		--theme-color: #{$blue};
	}

	overflow: hidden;

	--pt: 28px;
	--spb: 45px;
	--stpb: 34px;
	@include media-breakpoint-up(md){
		--pt: 25px;
		--spb: 45px;
		--stpb: 31px;
	}
	@include media-breakpoint-up(xl){
		--pt: 33px;
		--spb: 37px;
		--stpb: 55px;
	}
	@include media-breakpoint-up(xll){
		--pt: 30px;
		--spb: 46px;
		--stpb: 55px;
	}
	@include media-breakpoint-up(xxl){
		--pt: 63px;
		--spb: 43px;
		--stpb: 49px;
	}

	&__container{
		padding-left: 10px;
		padding-right: 10px;
	}

	.section-title{
		& > *:last-child{
			margin-bottom: 0;
		}

		h2{
			color: $black;
			border-bottom: 1px solid $gray2 !important;
			font-weight: 400;

			font-size: 22px;
			padding-bottom: 29px;
			margin-bottom: 30px;
			@include media-breakpoint-up(md){
				font-size: 28px;
				padding-bottom: 24px;
				margin-bottom: 25px;
			}
			@include media-breakpoint-up(xl){
				font-size: 32px;
			}
			@include media-breakpoint-up(xxl){
				font-size: 35px;
				padding-bottom: 20px;
				margin-bottom: 25px;
			}

		}
		p{
			margin-left: auto;
			margin-right: auto;

			max-width: 570px;
			@include media-breakpoint-up(xl){
				max-width: 710px;
			}
			@include media-breakpoint-up(xll){
				max-width: 730px;
			}
			@include media-breakpoint-up(xxl){
				max-width: 860px;
			}

			color: $brown;
			font-size: 16px;
			//1.6

			line-height: 1.52;
			@include media-breakpoint-up(md){
				line-height: 1.6;
			}

			@include media-breakpoint-up(xl){
				font-size: 16px;
				line-height: (25/18);
			}
			@include media-breakpoint-up(xxl){
				font-size: 18px;
			}
		}
	}
	//filter
	&__filter-row{
		@include roww(10px);
		justify-content: center;

		padding-bottom: 25px;
		@include media-breakpoint-up(sm){
			padding-bottom: 25px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 40px;
		}

		@include media-breakpoint-between(md, xl){
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__row-col{
		margin-bottom: 17px;
		@include media-breakpoint-up(xl){
			margin-bottom: 10px;
		}
	}
	&__filter-item{
		@extend .btn;
		@extend .btn-light;
		color: $secondary2;

		padding: 6.5px 17px;
		font-size: 13px;
		@include media-breakpoint-up(xll){
			padding: 6.5px 19px;
			font-size: 16px;
		}
		&:hover,
		&.active{
			background-color: var(--theme-color);
			color: $white;
		}
	}

	//slider
	&__slider{
		position: relative;

		@include media-breakpoint-up(sm){
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 40px;
		}

		.swiper-container{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			@include media-breakpoint-up(sm){
				width: calc((100% / 2) - (17px * 1 / 2));
			}
			@include media-breakpoint-up(xl){
				width: calc((100% / 3) - (17px * 2 / 3));
			}
			@include media-breakpoint-up(xll){
				width: calc((100% / 4) - (17px * 3 / 4));
			}
			height: auto;

			&--big{
				//background-color: $blue;

				width: 100%!important;
				@include media-breakpoint-up(xl){
					width: calc((100% * 2 / 3) - (17px * 1 / 3))!important;
				}
				@include media-breakpoint-up(xll){
					width: calc((100% / 2) - (17px * 2 / 3)) !important;
				}
			}
		}
		//prev, next
		.catalog-prev,
		.catalog-next{
			@include media-breakpoint-down(md){
				box-shadow: none!important;
				outline: none!important;
				border: none!important;
				background-color: darken($gray, 1);
				z-index: 5;

				display: flex;
				align-items: center;
				justify-content: center;

				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 20px;
				height: 47px;

				@include mt();
				.icon{
					@include mt();
					font-size: 12px;
					color: darken($secondary, 3);
				}

				opacity: .85;
				&:hover{
					opacity: 1;
					.icon{
						transform: scale(1.1);
					}
				}
			}
			@include media-breakpoint-up(md){
				box-shadow: none!important;
				outline: none!important;
				background-color: transparent;

				border: 2px solid $gray2!important;

				width: 29px;
				height: 29px;
				@include media-breakpoint-up(xll){
					width: 40px;
					height: 40px;
				}
				border-radius: 50%;

				display: flex;
				align-items: center;
				justify-content: center;

				position: absolute;
				z-index: 5;
				top: 50%;
				transform: translateY(-50%);

				@include mt();
				.icon{
					@include mt();
					font-size: 14px;
					@include media-breakpoint-up(xll){
						font-size: 19px;
					}
					color: darken($gray2, 3);
				}

				opacity: .85;
				&:hover{
					opacity: 1;
					.icon{
						transform: scale(1.1);
					}
				}
			}
		}

		.catalog-prev{
			right: calc(100% + 11px);
			@include media-breakpoint-up(md){
				right: calc(100% + 7px);
			}
			@include media-breakpoint-up(xll){
				right: calc(100% + 20px);
			}
		}
		.catalog-next{
			left: calc(100% + 11px);
			@include media-breakpoint-up(md){
				left: calc(100% + 7px);
			}
			@include media-breakpoint-up(xll){
				left: calc(100% + 20px);
			}
		}
		//pugin
		.catalog-pugin{
			@extend .swiper-pugin-frame;
			padding: 20px 0;
		}
	}
	&__item{
		min-height: 100%;
		text-align: center;
		position: relative;
		background-color: $light;

		display: flex;
		flex-direction: column;
		//-justify-content: flex-end;

		padding: rem(47px) rem(15px) rem(25px);
		.picture-bg{
			opacity: 0;
			@include mt;
		}
		&:hover{
			.picture-bg{
				opacity: 1;
			}
			.sCatalog__img  {
				opacity: 0 ;
			}
			.sCatalog__caption-toggle{
				opacity: 0;
			}
			.sCatalog__caption-head{
				opacity: 1;
				z-index: 2;
			}
		}
	}
	&__caption{
		flex-grow: 1;
		background-color: $light;
		padding: rem(20) rem(10);
		position: relative;
	}
	&__caption-head{
		padding: rem(20) rem(10);
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $light;
		z-index: -1;
		opacity: 0;
		@include mt;
	}
	&__caption-toggle{
		// opacity: 0;
		@include mt;
	}
	&__discount{
		position: absolute;
		top: 10px;
		left: 21px;
		background-color: $primary;

		width: 79px;
		height: 79px;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;
		color: $light;
		font-weight: 700;

		font-size: 25px;
	}
	&__like-btn{
		position: absolute;
		border-radius: 50%;

		width: 51px;
		height: 51px;
		background-color: $white;
		top: 26px;
		right: 29px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			color: $secondary2;
			font-size: 26px;
		}

		&.active{
			.icon{
				color: darken($crimson, 2);
			}
		}
	}
	&__img{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 340px;
		margin-bottom: 20px;

		@include mt();
		&:hover{
			// filter: brightness(1.05);
			// transform: scale(1.05);
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__name{
		color: $brown;
		font-weight: 900;
		text-transform: uppercase;


		@include media-breakpoint-up(xll){
			margin-bottom: 5px;
			font-size: 16px;
			letter-spacing: 0.65px;
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: 5px;
			font-size: 18px;
			letter-spacing: 0.72px;
		}
	}
	&__descr{
		color: $brown;

		line-height: (25/16);
		font-size: 16px;
		margin-bottom: 20px;

		@include media-breakpoint-up(xll){
			line-height: (25/16);
			font-size: 16px;
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xxl){
			font-size: 18px;
		}
	}
	&__price-cont{

	}
	&__price{
		display: inline-block;
		text-transform: uppercase;

		&--new{
			color: $primary;
			font-weight: 900;
			font-size: 22px;
		}
		&--old{
			color: $brown;
			font-size: 13px;

			position: relative;
			&:after{
				content: '';
				position: absolute;
				background-color: $primary;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
			}
		}
		&--common{
			color: $brown;
			font-size: 22px;
			font-weight: 900;
			letter-spacing: 0.88px;
		}
	}
	&__gray{
		color: $secondary2;
		font-size: 10px;
		line-height: 1.3;
	}

	//btn-cont
	&__btn-cont{
		text-align: center;
	}
	&__btn{
		@extend .btn;
		color: #fff;
		background-color: #333;
		border-color: #333;
		&:hover{
			color: #fff;
			background-color: $primary;
			border-color: $primary;
		}
		font-weight: 700;
		text-transform: uppercase;

		width: 100%;
		@include media-breakpoint-up(sm){
			width: auto;
		}

		padding: 13px 24px;
		font-size: 14px;
		letter-spacing: 0.56px;
		@include media-breakpoint-up(xll){
			padding: 13px 24px;
			font-size: 14px;
			letter-spacing: 0.56px;
		}
		@include media-breakpoint-up(xxl){
			padding: 13px 44px;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sCatalog


.stars-block{
	display: flex;
	align-items: center;
	margin-right: 14px;
	justify-content: center;
	margin-bottom: rem(8);

	.icon{
		font-size: 17px;
		color: $yellow;

		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
	}
}