mixin sImpressum(data)
	// start sImpressum
	+b.SECTION.sImpressum.section#sImpressum&attributes(attributes)
		+e.container.container
			block
			+b.section-title
				h1 Impressum
			+e.content
				p
					| SOLO Kleinmotoren GmbH
					br
					| Industriestr. 9
					br
					| D-71069 Sindelfingen
					br
					| Germany
				p
					| Postfach 60 01 52
					br
					| D-71050 Sindelfingen
				p
					| Telefon: 07031 - 301 - 0
					br
					| Telefax: 07031 - 301- 149
					br
					a(href="mailto:info@solo-germany.com") info@solo-germany.com
				p
					| Geschäftsführer:
					br
					| Andreas Emmerich, Sascha Luft
				p
					| Ust-IdNr. DE 145169842
				p
					| Amtsgericht-Registergericht-Stuttgart HRB 240243
				br
				p
					| Nachfolgende Angaben gelten für die Websites unter den Domänen:
					br
					br
					| solo-germany.com, solo-online.com, solo-kleinmotoren.de, solo-germany.de, art-of-technology.de, solo.global
					br
					br
					| © Copyright
				p Alle Rechte vorbehalten. Text, Bilder, Grafiken, Sound, Animationen und Videos sowie deren Anordnung auf der Websites unter den angegebenen Domänen unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden.
				p Markenverzeichnis
				p Soweit nicht anders angegeben, sind alle Markenzeichen auf der Websites unter den angegebenen Domänen markenrechtlich geschützt. Dies gilt insbesondere für Marken, Typenschilder, Firmenlogos und Embleme.
				p Bilddaten
				p Die Verwendung aller Bilddaten bedarf der ausdrücklichen Genehmigung der Solo Kleinmotoren GmbH.
				p Inhalt des Onlineangebotes
				p Solo Kleinmotoren GmbH übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen Solo Kleinmotoren GmbH, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden sind grundsätzlich ausgeschlossen, sofern seitens Solo Kleinmotoren GmbH kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Solo Kleinmotoren GmbH behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
	// end sImpressum