// start .sImpressum
.sImpressum {
	--sPT: 0;
	--sTPB: 0px;

	--sPB: 80px;
	@include media-breakpoint-up(md){
		--sPB: 76px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 84px;
	}
	@include media-breakpoint-up(xxl){
		--sPB: 86px;
	}

	&__container{
		padding: 0 10px;
		@include media-breakpoint-up(xxl){
			padding: 0 12px;
		}
	}
	.section-title{
		margin-bottom: 20px;
		@include media-breakpoint-up(md){
			margin-bottom: 30px;
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: 46px;
		}

		border-bottom: 1px solid $gray2;
		h1,h2{
			color: $black;
			font-weight: 400;

			font-size: 22px;
			margin-bottom: 15px;
			@include media-breakpoint-up(md){
				font-size: 28px;
				margin-bottom: 15px;
			}
			@include media-breakpoint-up(xl){
				font-size: 32px;
				margin-bottom: 20px;
			}
			@include media-breakpoint-up(xll){
				font-size: 35px;
				letter-spacing: 1.4px;
				margin-bottom: 20px;
			}
		}
	}
	&__content{
		color: $brown;

		p{
			@include media-breakpoint-up(xl){
				margin-bottom: 20px;
			}
			@include media-breakpoint-up(xxl){
				margin-bottom: 24.5px;
			}
		}

		font-size: 13px;
		@include media-breakpoint-up(md){
			font-size: 15px;
		}
		@include media-breakpoint-up(xl){
			font-size: 16px;
			line-height: (26/16);
		}
		@include media-breakpoint-up(xll){
			letter-spacing: .45px;
			font-size: 18px;
			line-height: (25/18);
		}

		a{
			color: $primary;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	//
	&__{}
	&__{}
} // end.sImpressum