mixin item-sos(icon, a='#')
	+e.A.item(href=a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('youtube')
			+item-sos('instagram')
			+item-sos('fb')
			+item-sos()
				| #solo_sprühgeräte

//- /social buttons 